*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#top{
    height: 50px;
    margin:auto;
    width: 80%;
}

.leftbox ul li{
    float: left;
    margin-left: 7px;
    font-size: 5px;

}
.leftbox ul li a:hover{
    color: red;
}
/* ’亲，请登录’设置成红色标签 */
.red{
    color: red;
}
.rightbox ul li{
    float: right;
    margin-left: 7px;
}
.rightbox ul li a:hover{
    color: red;
}