*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#top{
    height: 105px;
}
#toplefttext{
    
    
    
}
.leftbox ul li{
    float: left;
    margin-left: 7px;

}
.red{
    color: red
    ;
}
#toprighttext{
    height: 100px;
    
}
.rightbox ul li{
    float: right;
    margin-left: 7px;
}