*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#top{
    height: 105px;
}
#toplefttext{
    height: 100px;
    width: 600px;
    
}
.leftbox ul li{
    float: left;

}
#toprighttext{
    height: 100px;
    width: 600px;
    float: right;
}
.rightbox ul li{
    float: right;
}